.active {
    background-color: aqua;
}

.card:hover {
    background-color: aqua;
}

.badge {
    background-color: blue;
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50%;
    }

    .w-lg-75 {
        width: 75%;
    }
}

@media (min-height: 500px) {
    .h-lg-75 {
        height: 75%;
    }
}