.primary-bg { 
	background: #323643; 
}
	
.secondary-bg { 
	background: #606470; 
}

.tertiary-bg { 
	background: #93deff; 
}

.quaternary-bg { 
	background: #f7f7f7; 
}

.primary-text {
    color: #93deff;
}

.secondary-text {
    color: #f7f7f7;
}

.tertiary-text {
    color: black;
}

.card:hover {
    background: #606470;
    box-shadow: 10px 10px 10px;
}

.link-50-hover:hover {
    opacity: 50%;
}

.nav-link.active {
    color: #93deff !important;
    text-decoration: solid;
    background: none !important;
}

.nav-link {
    color: #f7f7f7 !important;
}

.nav-link:hover {
    color: #323643;
}

a {
    text-decoration: none;
}

@media (min-width: 992px) {
    .w-lg-50 {
        width: 50%;
    }

    .w-lg-75 {
        width: 75%;
    }
}

@media (min-width: 576px) {
    .w-sm-75 {
        width: 75%;
    }
}