section {
    padding-top: 30px;
}

header {
    padding-top: 30px;
}

ul {
    padding: 0;
    margin: 0;
}

.socials li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.active {
    background-color: aqua;
}

.card:hover {
    background-color: antiquewhite;
}

.card-group {
    list-style: none;
    padding-left: 0;
}

.sticky-top {
    top: 30px;
}